.document {
  &__container {
    padding: var(--pf-t--global--spacer--xs) 0;
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__actions {
    margin-left: auto;
  }
}
